* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Style Start */

header { 
    background-color: #404245;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}

header nav ul li a:hover {
    background: #4a4c4f;
    color: white;
    border-radius: 15px;
    text-shadow: none;
}

/* Header Style End */

/* Intro Style Start */

.header--intro {
    background-image: linear-gradient(to right, rgba(110, 101, 135), rgba(128, 57, 68));
    text-align: center;
    font-size: 18px;
    line-height: 5.0;
}

.header--intro img {
    width: 50px;
    height: 50px;
}

/* Intro Style Start */

/* About Style Start */

.intro {
    display: flex;
    background-color: #404245;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    box-shadow: none;
}

.intro > div {
    flex-basis: 50%;
}

.intro img {
    box-shadow: none;
    margin: 20px;
}

.about h2, .about p {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
}

.contact--header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 125px;
    flex: 1;
    background-color: #4a4c4f;
    border-radius: 1px;
    padding: 1px;
}

.contact h2 {
    display: flex;
}

.contact div {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    flex-direction: column;
}

.contact button {
    text-align: center;
    display: flex;
    flex-direction: row;
}

/* About Style End */

/* Work Style Start */

.work {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #F2E9EA;
    align-items: flex-end;
}

.work div {
    width: 50%;
    margin: 20px;
}

.work h2, .work h3, .work h4, .work h5 {
    display: flex;
    flex-wrap: column-reverse;
    justify-content: flex-end;
    flex-direction: column;
    margin: 20px;
}  

/* Work Style End */

/* Education Style Start */

.school {
    background-color: #F2E9EA;
}

.school div {
    padding: 25px;
}

/* Education Style End */

/* Projects Style Start */

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #A9BEC3;
}

.project {
  margin: 20px;
  flex: 1;
  background-color: #A9BEC3;
}

.project img {
  width: 100%;
}

.project-description {
  padding: 25px;
  line-height: 0.5;
  text-align: center;
}

.project-description h3 {
  font-size: 28px;
}

.project-description h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.project-description p {
  font-size: 17px;
}

img {
    border: 3px solid #404245;
    border-radius: 10px;
    width: 100px;
  }
  
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 0.5;
  }

.flex-row {
    display: flex;
    background-color: #A9BEC3;
}

/* Projects Style End */

/* Footer Style Start */

footer {
    background-color: #9EB1CB;
}

footer div {
    line-height: 5.0;
    text-align: center;
}

footer a {
    color: black;
}

/* Footer Style End */

.divider {
    border-bottom: 3px solid;
    width: 50%;
    padding: none;
    display: flex;
}


 