* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Style Start */

header { 
    background-color: #404245;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
}

header nav ul li a:hover {
    background: #4a4c4f;
    color: white;
    border-radius: 15px;
    text-shadow: none;
}


/* Header Style End */

/* Intro Style Start */

.header--intro {
    background-image: linear-gradient(to right, rgba(110, 101, 135), rgba(128, 57, 68));
    text-align: center;
    font-size: 18px;
    padding: 20%;
    line-height: 2.5;
}

.header--intro img {
    width: 50px;
    height: 50px;
}

/* Intro Style Start */

/* About Style Start */

.intro {
    display: flex;
    background-color: #404245;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    box-shadow: none;
}

.intro > div {
    flex-basis: 50%;
}

.intro img {
    margin: 21px;
}

.about h2, .about p {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 5px;
}

.contact--header {
    border: 3px solid;
    background-color: rgba(151, 151, 151 , 0.8);
    padding: 25px;
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}




.contact div {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    flex-direction: column;
}

/* About Style End */

/* Work Style Start */

.work {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #F2E9EA;
    align-items: flex-end;
}

.work div {
    width: 50%;
    margin: 20px;
}

.work h2 {
    background-color: #F2E9EA;
    display: flex;
    text-decoration: underline;
}  
.work h3 .work h4, .work h5 {
    display: flex;
    flex-wrap: column-reverse;
    justify-content: flex-end;
    flex-direction: column;
    margin: 20px;
}  

/* Work Style End */

/* Education Style Start */

.school {
    background-color: #F2E9EA;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.school div {
    width: 50%;
    margin: 20px;
}

.school h2 {
    display: flex;
    flex-wrap: column-reverse;
    justify-content: flex-end;
    flex-direction: column;
    font-style: oblique;
    text-decoration: underline;
}  

.school h4 {
    display: flex;
    flex-wrap: column-reverse;
    justify-content: flex-end;
    flex-direction: column;
    font-style: italic;
    margin: 10px;
}    

.school h3, .school h5 .school p {
    display: flex;
    flex-wrap: column-reverse;
    justify-content: flex-end;
    flex-direction: column;
}    

/* Education Style End */

/* Projects Style Start */

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #A9BEC3;
    padding: 20px;
}

.project {
  margin: 20px;
  flex: 1;
  background-color: #A9BEC3;
}

.projects h2, .project h3 {
    font-style: oblique;
}

.project img {
  width: 100%;
}

.project-description {
  padding: 25px;
  line-height: 0.5;
  text-align: center;
}

.project-description h3 {
  font-size: 28px;
}

.project-description h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.project-description p {
  font-size: 17px;
}

img {
    border: 3px solid #404245;
    border-radius: 10px;
    width: 100px;
  }
  
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 0.5;
  }

.flex-row {
    display: flex;
    background-color: #A9BEC3;
}

/* Projects Style End */

/* Footer Style Start */

footer {
    background-color: #9EB1CB;
}

footer div {
    line-height: 5.0;
    text-align: center;
}

footer a {
    color: black;
    opacity: 65%;
}

/* Footer Style End */

.divider {
    border-bottom: 3px solid;
    width: 50%;
    padding: none;
    display: flex;
    opacity: 65%;
    flex-wrap: wrap;
    align-self: center;
}

 
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
  
    @media screen and (max-width: 980px) {
  
        header {
          padding-bottom: 0;
          justify-content: center;
          position: relative;
        }
      
        header h1 {
          width: 100%;
          text-align: center;
        }
      
        header nav ul {
          margin-top: 20px;
          width: 100%;
          justify-content: center;
        }
      
        header nav ul li a {
          font-size: 20px;
        }
      
        footer h2, footer div, .project, .project-description, .projects, .project img .about {
          text-align: center;
          width: 100%;
          flex-wrap: wrap;
        }
    }
}

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  
  @media screen and (max-width: 768px) {
    
    section {
      padding: 30px 15px;
    }
  
    .work h2, .education h2 {
      flex: 1 100%;
      text-align: center;
    }
  
    .work div, .education div {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  
  @media screen and (max-width: 575px) {
  
    .intro {
      width: 100%;
    }
  
    .work {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
      flex: 0 100%;
    }
  }